@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/jquery-ui.css" type="text/css" />

<div class="message_dialog">
</div>
<div class="message_box">
    <textarea class="message_text" rows="9" cols="50" autofocus maxlength="1000"></textarea>
    <br />
    <button class="message_send">Отправить</button>
    <button class="message_reset">Отмена</button>
</div>

<h2>Таблица </h2>
<span class="message"></span>

<div class="team">
</div>

<div id="compact-pagination" class="pagination"></div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/MyScripts/Pagination.js"></script>
<script src="~/Scripts/MyScripts/UsersEditor.js"></script>
<script src="~/Scripts/MyScripts/MessagesEditor.js"></script>
<script src="~/Scripts/MyScripts/TeamDataEditor.js"></script>


    
