@using manager.Entities
@model WebApplication1.Models.MainPageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="header">
    <div class="budget">Бюджет <p>1000 </div>
    <div class="matches">Матчей <p>20</p> </div>
    <div class="players">Игроков <p>11</p> </div>
    <div class="position">Позиция<p>4</p> </div>
</div>

<div class="team">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>№</th>
            <th>Игрок</th>
            <th>Позиция</th>
            <th>Возраст</th>
            <th>Атака</th>
            <th>Защита</th>
            <th>Цена</th>
        </tr>

        
        </table>
    <div class="field">
        <img src="field.jpg"/>
    </div>
</div>
